.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.header-txt-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.header-img {
  width: 4rem;
  padding: 10px;
}

.header-img-txt {
  width: 20%;
  padding: 10px;
}
