/* --- CONTAINERS --- */
.wheel-spinner-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
}

.control-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 300px;
}

.score-sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.wheel-sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 300px;
}

.wheel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.guessed-letter-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

/* --- TEXT --- */
.score-label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  margin-top: 1rem;
}

.score-txt {
  font-size: 1.2rem;
  font-weight: bold;
  color: blue;
  margin-top: 1rem;
}

.guessed-letters {
  font-size: 1rem;
  font-weight: bold;
  color: red;
  margin-top: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.guessed-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-top: 1rem;
  margin-right: 1rem;
}

/* --- IMAGES/ICONS --- */
.spinner-wheel-img {
  width: 90%;
}

/* --- BUTTONS --- */

/* --- ANIMATIONS --- */
.spin-animation {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  animation-duration: 0.5s;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1474px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 1240px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 1000px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 750px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 700px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 700px) {
  /* --- CONTAINERS --- */
  .wheel-spinner-cont {
    margin-top: 0px;
  }

  .wheel-sec {
    min-height: 0px;
  }

  .control-sec {
    min-height: 100px;
  }

  .input-section {
    align-items: flex-start;
  }

  .wheel-wrapper {
    width: 60%;
    margin-right: 0px;
  }

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 393px) {
  /* --- CONTAINERS --- */
  .wheel-spinner-cont {
    margin-top: 0px;
  }

  .wheel-sec {
    min-height: 0px;
  }

  .control-sec {
    min-height: 100px;
  }

  .input-section {
    align-items: flex-start;
  }

  .wheel-wrapper {
    width: 60%;
    margin-right: 0px;
  }

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 390px) {
  /* --- CONTAINERS --- */
  .wheel-spinner-cont {
    margin-top: 0px;
  }

  .wheel-sec {
    min-height: 0px;
  }

  .control-sec {
    min-height: 100px;
  }

  .input-section {
    align-items: flex-start;
  }

  .wheel-wrapper {
    width: 60%;
    margin-right: 0px;
  }

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */
  .spinner-wheel-img {
    width: 100%;
  }

  /* --- BUTTONS --- */
}

@media screen and (max-width: 375px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}
