/* --- CONTAINERS --- */
.puzzle-board-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.category-top-score-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.category-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.total-score-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1rem;
}

.puzzle-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 3rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.empty-wrapper {
  width: 2rem;
  height: 3rem;
  border: none;
  margin-bottom: 0.5rem;
}

/* --- TEXT --- */
.category-label {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.category-value {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.total-score-label {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.total-score-value {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* --- IMAGES/ICONS --- */

/* --- BUTTONS --- */

@media screen and (max-width: 1474px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 1240px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 1000px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 750px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 700px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 700px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 393px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 390px) {
  /* --- CONTAINERS --- */
  .puzzle-board-cont {
    margin-bottom: 0px;
  }

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}

@media screen and (max-width: 375px) {
  /* --- CONTAINERS --- */

  /* --- TEXT --- */

  /* --- IMAGES/ICONS --- */

  /* --- BUTTONS --- */
}
